<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Secucard.Connect.IntegrationTest.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Secucard.Connect.IntegrationTest.IntegrationTest" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Secucard.Connect.IntegrationTest.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Secucard.Connect.IntegrationTest.Settings>
            <setting name="StubServer" serializeAs="String">
                <value>https://localhost:5000</value>
            </setting>
            <setting name="SetStub" serializeAs="String">
                <value>/set_stub/</value>
            </setting>
            <setting name="GetStub" serializeAs="String">
                <value>/get_stub</value>
            </setting>
            <setting name="Static" serializeAs="String">
                <value>/static/</value>
            </setting>
        </Secucard.Connect.IntegrationTest.Settings>
        <Secucard.Connect.IntegrationTest.IntegrationTest>
            <setting name="StubServer" serializeAs="String">
                <value>http://127.0.0.1:5000</value>
            </setting>
        </Secucard.Connect.IntegrationTest.IntegrationTest>
    </applicationSettings>
    <userSettings>
        <Secucard.Connect.IntegrationTest.Settings>
            <setting name="ValidateStub" serializeAs="String">
                <value>/validate</value>
            </setting>
        </Secucard.Connect.IntegrationTest.Settings>
    </userSettings>
</configuration>